@import "tailwindcss";

@counter-variant .dark (&:is(.dark *));

:root {
  @theme inline {
    --color-primary: var(--color-black);
    --color-secondary: var(--color-neutral-500);
  }
}

.dark {
  @theme inline {
    --color-primary: var(--color-white);
    --color-secondary: var(--color-neutral-300);
  }
}
body {
  @apply bg-black text-white; 
}




